# Telegram bot token
TELEGRAM_BOT_TOKEN=

# ASR service
ASR_API_URL=http://185.100.53.247:7190/asr
ASR_API_KEY=aifirstm
ASR_LANG=uz

# Chunk length in seconds
ASR_CHUNK_SECONDS=30

# Optional: path to ffmpeg if not in PATH
# FFMPEG_PATH=/usr/local/bin/ffmpeg
